.error-404 {
    height: 750px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    font-family: "PT Sans", sans-serif;
    color: $gray-dark;
    font-weight: 700;

    &__hover {
        background-color: rgba($white, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        text-align: center;
    }

    &__404 {
        font-size: 166px;
        color: $green;
    }

    &__gray-color {
        color: $gray-dark;
    }

    &__text {
        font-size: 18px;
        line-height: 1.3;
        padding-bottom: 15px;
    }
}
