.slider-preview {
    &__slide {
        height: 200px !important;
        position: relative;
        color: $white;
        overflow: hidden;

        &:hover {
            .slider-preview__img {
                transform: scale(1);
            }

            .slider-preview__wrapper {
                background-color: rgba($black, 0.6);
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.7s;
        transform: scale(1.2);
    }

    &__slide-img {
        opacity: 0;
        height: 0;
    }

    &__wrapper {
        background-color: rgba($black, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px 35px 10px 35px;
        z-index: 1;
        transition: 0.7s;
    }

    &__icon {
        padding-bottom: 10px;
        height: 85px;
    }

    &__title {
        font-size: 20px;
        font-size: 500;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 10px;
    }

    &__description {
        font-size: 16px;
        font-family: 'GothamPro', sans-serif;
        line-height: 1.2;
        height: 40px;
        display: flex;
        align-items: center;
    }

    &__arrow {
        position: absolute;
        bottom: 75px;
        z-index: 1;
        cursor: pointer;
        height: 25px;
        width: 25px;
        background-color: transparent;
        display: inline-block;
        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        transform: rotate(45deg);
        transition: 0.5s;
        outline: none;
        box-shadow: -2px 2px 2px $black-light;

        &_prev {
            left: 10px;
        }

        &_next {
            right: 10px;
        }

        /*&:before {
            transform: scale(0);
            z-index: 1;
            content: '';
            position: absolute;
            box-sizing: border-box;
            transition: 0.5s;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
        }

        &:before {
            border-bottom: 2px solid $green;
            border-left: 2px solid $green;
            transform-origin: 0 100%;
        }*/

        &:hover {
            /*&:before {
                transform: scale(1);
            }*/
            border-left: 2px solid $green;
            border-bottom: 2px solid $green;
        }

        &_next {
            transform: rotate(-135deg);
        }
    }
}
