.inner-header {
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__img-hidden {
        height: 0;
        opacity: 0;
    }

    &__wrapper {
        background-color: rgba($black, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: $white;
        font-size: 40px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }

    &__breadcrumbs {
        position: absolute;
        top: 15px;
        left: 13%;
    }
}
