$tablet-width: 768px;
$small-device-width: 992px;
$large-device-width: 1200px;

$mobile-width-max: 767px;
$tablet-width-max: 991px;
$small-device-width-max: 1199px;

$columnsQuantity: 12;




$white: #ffffff;
$white-dark: #f7f7f7;
$black: #0c1c22;
$black-light: #464646;
$black-second: #252525;
$green: #6c963b;
$gray: #a0a2a5;
$gray-dark: #5a5a5a;
$gray-light: #cccccc;

$facebook: #3b5998;
$vk: #45668e;
$instagram: #e1306c;
$youtube: #cd201f;
