.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;

    &__fix {
        height: 100px;
    }

    &__logo {
        padding: 0 40px 0 0;
    }

    &__info {
        min-width: 1050px;
        width: 75%;
        padding: 15px 0 0 0;
    }

    &__top {
        text-align: right;
        padding-bottom: 10px;
    }

    &__phone {
        font-size: 17px;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
        padding-right: 20px;

        a {
            color: $white;
            text-decoration: none;
            @include link-decoration ($white, 1px, 0.5s);

            &:hover {
                color: $white;
            }
        }
    }

    &__order-button {
        font-size: 15px;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
        background-color: $green;
        padding: 5px 15px;
        transition: 0.5s;
        border: 1px solid $green;
        cursor: pointer;
        color: $white;
        outline: none;

        svg {
            width: 22px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            padding-right: 12px;
        }

        .icon-phone-elem {
            fill: $white;
            transition: 0.5s;
        }

        .icon-phone-arrow-left, .icon-phone-left {
            fill: $white;
            transition: 0.5s;
            position: relative;
            left: 0;
        }

        .icon-phone-arrow-right, .icon-phone-right {
            fill: $white;
            transition: 0.5s;
        }

        &:hover {
            background-color: transparent;
            color: $green;

            .icon-phone-elem {
                fill: $green;
            }

            .icon-phone-arrow-left, .icon-phone-left {
                fill: $black;
            }

            .icon-phone-arrow-right, .icon-phone-right {
                fill: $green;
                transform: translate3d(5px, 0, 0);
            }
        }
    }
}
